@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

.swiper-pagination {
  position: initial !important;
  height: 6px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.swiper-pagination-bullet {
  width: 24px !important;
  height: 6px !important;
  border-radius: 8px !important;
  background: #e0e0e0 !important;
  transition: all 0.3s ease-in-out !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  width: 48px !important;
  background: #828282 !important;
}
