@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/ocr-a-extended");
@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
  }
}
h3 {
  font-family: "OCR A Extended";
  color: #895b52;
  font-size: 20px;
  line-height: 1;
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
  animation-duration: 5s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
h2 {
  font-family: "OCR A Extended";
  color: #facd6c;
  font-size: 50px;
  animation-duration: 5s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
h1 {
  font-family: "OCR A Extended";
  color: #facd6c;
  font-size: 15px;
}
a {
  color: #facd6c;
  text-decoration: none;
  font-size: 30px;
  line-height: 1;
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
  animation-duration: 0.5s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #1f1d28;
}
.layout {
  width: 1366px;
  height: 768px;
  margin-right: auto;
  margin-left: auto;
  display: grid;
  grid:
    "header" auto
    "main" 1fr
    "footer" auto
    / 1fr;
  gap: 8px;
}
.header {
  grid-area: header;
  font-size: 30px;
  font-family: "OCR A Extended";
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  font-family: Gensco;
  color: #facd6c;
}
.inside_layout {
  width: 100%;
  display: flex;
  gap: 16px;
}
span {
  width: 55%;
  margin-left: 8%;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  margin-bottom: 5px;
}
.marginLeft {
  margin-left: auto;
}
.marginLeft img {
  max-width: 100%;
  min-width: 550px;
  margin-top: 150px;
  margin-right: 100px;
}
.text {
  max-width: 480px;
  margin-left: 100px;
}
.img-container {
  display: inline-block;
  position: relative;
}
.positioning {
  position: absolute;
  margin-left: 105px;
  top: 276px;
  bottom: 460px;
  padding: 4px;
  font-size: 17px;
  line-height: 18px;
}
.trapezium {
  background-color: #1f1d28;
  z-index: -1;
  position: absolute;
  top: 170px;
  margin-left: 20px;
  margin-top: 30px;
  border-top: 680px solid #1f1d28;
  border-left: 5000px solid;
}
* {
  margin: 0;
  padding: 0;
}
#console {
  font-family: Courier;
  background-color: #000000;
  color: #99ff00;
  display: block;
  float: left;
  width: 333px;
  height: 180px;
  max-width: 333px;
  max-height: 180px;
}
